<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head" ></head>
    <body>
        <div>
          <nav th:replace="/fragments/navbar :: nav"></nav>  
        </div>        
        <img src="https://sentimendoza.com.ar/medios/Mendoza-1024x687.jpg" alt="Mendoza, Argentina" width="1300" height="550">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
